{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "dash.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="top-section">
      <div class="top-left-section">
        <div class="user-profile">
          <img src="{{ userInfo.profile_photo.url }}" alt="User Profile" />
          <h3>{{ user.first_name }}</h3>  
          <p class="location">
            <img src="{% static "location.png" %}" alt="Location Icon" /> {{userInfo.location}}
          </p>
          <div class="edit-profile">
            <button><a href="{% url 'edit_profile' %}" class="edit-profile button"
              >Edit Information</a
            ></button>
          </div>
            
        </div>
      </div>

      <div class="top-right-section">
        <div class="user-info">
         <center> <strong><h3>Personal Information </strong></h3></center>
          <p><strong>Full Name:</strong> {{ user.first_name }} {{user.last_name}}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p> <strong> Phone: </strong> {{userInfo.phone}}  </p>
          <p> <strong> Address: </strong> {{ userInfo.location }} </p>
          
        </div>
        
      </div>
    </div>
    <div class="socials-box">
      <h3>Socials</h3>
      <div class="social-item">
        <img src="{% static 'linkedin.png' %}" alt="LinkedIn Logo" />
        <a href="http://www.linkedin.com/in/yash-wadgaonkar-0782/" target ="_blank"><p>Linked In</p></a>
        
      </div>
      <div class="social-item">
        <img src="{% static 'github.png' %}" alt="GitHub Logo" />
        <a href="https://github.com/Yash782"><p>GitHub</p></a>
      </div>
      <div class="social-item">
        <img src="{% static 'portfolio.png' %}" alt="Portfolio Logo" />
        <p>varad-portfolio.com</p>
      </div>
      <div class="social-item">
        <img src="{% static 'website.png' %}" alt="Other Website Logo" />
        <p>www.varad.com</p>
      </div>
   
      <div class="edit-button">
        <button>Edit Socials</button>
    </div>
    
    </div>
    <div class="box-4">
      <h2>Certificates</h2>
      <button class="add-certificates-button">
        <a href="{% url 'upload_certificate' %}" class="nav-link"
          >Add Certificate</a
        >
      </button>
      
      {% if certificates %}
        <div class="certificates">
            {% for certificate in certificates %}
                <div class="certificate">
                    <h4>{{ certificate.certificate_name }}</h4>
                    <label class="switch">
                        <input type="checkbox" {% if certificate.is_visible %}checked{% endif %} />
                        <span class="slider round"></span>
                    </label>
                    <p>{{ certificate.certificate_desc }}</p>
                    <a href="{{ certificate.file.url }}" target="_blank">View Certificate</a>
                    <a href="{% url 'delete_certificate' certificate.id %}" class="delete-icon">
                      <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>
                  </a>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No certificates uploaded.</p>
    {% endif %}

     <!-- <div class="certificate">
        <h4>Certificate Title 2</h4>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <p>Certificate description...</p>
      </div> -->
    </div>
  </body>
</html>
