<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Information</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="edit-information" class="edit-information-container">
      <h2>Edit Information</h2>
      <form action="#" method="POST">
        <label for="edit-full-name">Full Name:</label>
        <input
          type="text"
          id="edit-full-name"
          name="edit_full_name"
          placeholder="Enter your full name"
          required
        />

        <label for="edit-email">Email:</label>
        <input
          type="email"
          id="edit-email"
          name="edit_email"
          placeholder="Enter your email"
          required
        />

        <label for="edit-username">Username:</label>
        <input
          type="text"
          id="edit-username"
          name="edit_username"
          placeholder="Enter your username"
          required
        />

        <label for="edit-phone">Phone Number:</label>
        <input
          type="tel"
          id="edit-phone"
          name="edit_phone"
          placeholder="Enter your phone number"
          required
        />

        <label for="edit-address">Address:</label>
        <textarea
          id="edit-address"
          name="edit_address"
          placeholder="Enter your address"
          rows="4"
          required
        ></textarea>
        <br />
        <button type="submit">Save Changes</button>
      </form>
    </div>
  </body>
</html>
