{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Socials</title>
    <link rel="stylesheet" href="{% static "style.css" %}" />
  </head>
  <body>
    <div class="edit-profile-container">
      <h2>Edit Socials</h2>
      <form action="#" method="POST">
        <label for="linkedin">LinkedIn:</label>
        <input
          type="text"
          id="linkedin"
          name="linkedin"
          placeholder="www.linkedin.com/in/joe"
        />

        <label for="github">GitHub:</label>
        <input type="text" id="github" name="github" placeholder="joe_688" />

        <label for="portfolio">Portfolio:</label>
        <input
          type="text"
          id="portfolio"
          name="portfolio"
          placeholder="joe-portfolio.com"
        />

        <label for="other-website">Other Website:</label>
        <input
          type="text"
          id="other-website"
          name="other_website"
          placeholder="www.joe.com"
        />

        <button type="submit">Save Socials</button>
      </form>
    </div>
  </body>
</html>
