{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "userInfoCss.css" %} />
    <title>Add Certificate - SkillSnap</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Add Certificate</h1>
      <form
        action="{% url 'upload_certificate' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>
